
/* =====================================
            dig_mit! colours
   =====================================

dig_mit mint:     #7BBE95;
dig_mit orange:   #D48028;
dig_mit blue:     #63D2E3;
dig_mit_darkblue: #25569E
dig_mit yellow:   #FCDB67;
dig_mit red:      #F22F57;
dig_mit cheekred: #F0615D;
dig_mit lipsred:  #CB878F;

*/


/* ==== General page design ==== */

body {
  background: #222;
}

.digmit-exercise-container {
  border: 1px dotted #015367;
  border-radius: 5px;
  background-color: #eee;
  max-width: 800px;
  margin: 1em auto;
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .digmit-exercise-container {
    font-size: 0.75em;
  }
}

.header {
  text-align: center;
  width: 100%;
}

/* ==== Description ==== /*
/* ... short sentence / paragraph after header describing what to do */

.description {
  font-size: 1.5em;
  text-align: center;
  width: 100%;
  padding-bottom: 1em;
}

/* ==== Success message ==== /*
/* ... which is displayed when all answers are correct */
.next-word-message,
.success-message {
  width: 100%;
  text-align: center;
  padding: 1em;
  margin-top: 1em;
  border: 3px dotted #7BBE95; /* dig_mit mint */
  font-size: 1.5em;
  font-weight: bold;
}

.next-word-message .fa-star,
.success-message .fa-star {
  color: #FCDB67; /* dig_mit yellow */
}

#next-word-button,
#next-exercise-button {
  font-weight: normal;
  border: 1px dotted black;
  border-radius: 3px;
  padding: 0.33em 0.16em;
  cursor: pointer;
  color: #25569E; /* dig_mit darkblue */
}
#next-word-button:hover,
#next-exercise-button:hover {
  color: #63D2E3; /* dig_mit blue */
}
#next-word-button span,
#next-exercise-button span {
  vertical-align: middle;
}
#next-word-button i.fa,
#next-exercise-button i.fa {
  font-size: 2em;
  vertical-align: middle;
}

/* ==== Sort field area ==== */
/* ... where the audio buttons reside initially */

.sort-field {
  border: 2px dotted gray;
  border-radius: 3px;
  padding: 1em;
  width: 100%;
  min-height: 7em;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: center;
}

.ui-sortable-placeholder {
  border: 1px dotted gray;
  background-color: #63D2E3; /* dig_mit blue */
  padding: 0.14em;
  margin: 0.14em;
  width: 10px !important;
}
.sort-field .audio-button {
  border: 1px dotted gray;
  border-radius: 3px;
  padding: 0.16em;
  margin: 0.16em;
  font-size: 2.5em;
  width: auto;
  height: 1.5em;
  display: inline-block;
  text-align: center;
  cursor: grab;
}

/* ==== Result field area ==== */
/* where the result is displayed */

.result-field {
  width: 100%;
  text-align: center;
  padding: 1em;
  margin-top: 1em;
  border: 3px dotted black; /* dig_mit blue */
  font-size: 1.8em;
  font-weight: bold;
}

/* a button after the description or in the target field to play the whole sentence */
.full-word {
  font-size: 3.5em;
  display: flex;
  align-items: center;
  margin-left: 0.5em;
  min-width: 0;
  border: none;
  cursor: pointer;
  width: 100%;
  justify-content: center;
  margin-top: 0.25em;
  margin-left: 0;
}

/* a button after the description or in the target field to play the whole sentence */

#test-button {
  border: 2px solid green;
  border-radius: 7px;
  font-size: 2em;
  color: green;
  padding: 3px 20px;
  margin: 10px auto;
}

#test-button:hover {
  cursor: pointer;
}

.test-button-effect {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  color: red !important;
  border: 2px solid red !important;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
